
.formwarper {
    width: 200px;
    position: relative;
}
#selectinput {
    width: 100%;
    border-top: 1px solid darkgray;
    border-left: 1px solid darkgray;
    border-right: 1px solid darkgray;
    border-bottom: 1px solid darkgray;
}
.formlist{
    width: 100%;
    //display: none;
    background-color: white;
    border-bottom: 1px solid darkgray;
    border-left: 1px solid darkgray;
    border-right: 1px solid darkgray;
}
